.editor-header {
  height: 73.59px;
}

.editor-header button {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  padding: .2em;
}

.editor-header a,
.editor-header button {
  margin-right: 5px;
  background-color: transparent;
  border: none;
  color: inherit;
}

.editor-content {
  padding-top: 5px !important;
}

.editor-container main {
  display: flex;
  flex-direction: column;
}

.editor {
  flex: 1 1 auto;
  max-width: 960px;
}

.editor.edit-field {
  min-height: 90vh;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.editor.edit-field:focus-visible{
  outline: none;
}