.editor-header {
  height: 73.59px !important;
  border-bottom: 1px solid lightgray;
}

.editor-header button {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  padding: .2em;
}

.editor-header-content {
  height: 100%;
}

.editor-header a,
.editor-header button {
  
}