.editor-header {
  height: 73.59px;
}

.editor-header button {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  padding: .2em;
}

.editor-header-content {
  height: 100%;
}

.editor-header a,
.editor-header button {
  margin-right: 5px;
  background-color: transparent;
  border: none;
  color: inherit;
}

.editor-content {
  padding-top: 5px !important;
}

/* .editor-container,
.editor-content {
  height: 100%;
} */

.editor-container main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.editor {
  flex: 1 1 auto;
  max-width: 960px;
}

.editor.edit-field {
  /* white-space: pre-wrap !important; */
  min-height: 100vh;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.editor.edit-field:focus-visible{
  outline: none;
}