:root {
  --sidebar-bg: #f8f8f9;
  --main-bg: #fdfdfd;
  --alt-bg: #ffffff;
}

body {
  overflow: hidden;
}

aside.sidebar {
  visibility: hidden;
  position: absolute;
  display: flex;
  min-width: 80%;
  background-color: var(--sidebar-bg);
  border-right: 1px solid lightgray;
  z-index: 1;
}

aside.sidebar.show {
  visibility: visible !important;
}

main.main-content {
  background-color: var(--main-bg);
  flex: 1 1 auto;
  height: 100vh;
  overflow: auto;
}

@media (min-width: 800px) {
  aside.sidebar {
    display: flex;
    position: static;
    height: 100vh;
    visibility: visible;
    min-width: 200px !important;
  }
}