:root {
  --sidebar-bg: #f8f8f9;
  --main-bg: #fdfdfd;
  --alt-bg: #ffffff;
}

body {
  overflow: hidden;
}

aside.sidebar {
  visibility: hidden;
  position: absolute;
  display: flex;
  min-width: 200px;
  max-width: 300px;
  background-color: var(--sidebar-bg);
  border-right: 1px solid lightgray;
  height: 100vh;
  z-index: 1;
}

main.main-content {
  background-color: var(--main-bg);
  flex: 1 1 auto;
  height: 100vh;
}

@media (min-width: 800px) {
  aside.sidebar {
    display: flex;
    position: static;
    height: 100vh;
    visibility: visible;
  }
}