.notes {
  height: 100%;
  overflow: scroll;
}
.notes-content {
  padding: 30px;
}
.notes-header {
  height: 73.59px !important;
  border-bottom: 1px solid lightgray;
}
.notes-header button {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  padding: .2em;
}

@media (min-width: 800px) {
  button.btn-sidebar {
    display: none !important;
  }
}