.card.note-card {
  box-shadow:
  /* The top layer shadow */
  0 1px 1px rgba(0,0,0,0.15),
  /* The second layer */
  0 10px 0 -5px #eee,
  /* The second layer shadow */
  0 10px 1px -4px rgba(0,0,0,0.15),
   /* The third layer */
  0 20px 0 -10px #eee,
  /* The third layer shadow */
  0 20px 1px -9px rgba(0,0,0,0.15);
  /* Padding for demo purposes */
}
.note-card div.dropdown.note-card-menu {
  position: absolute !important;
  right: 5px;
  top: 5px;
}

.dropdown-toggle {
  background-color: transparent !important;
  color: black !important;
  border: 1px solid lightgray;
  border: none;
  padding: 0;
}

.dropstart .dropdown-toggle::before{
  display: none;
}
.note-card h5:focus-visible {
  outline: none;
}

.card-text {
  overflow: hidden;
  display: -webkit-box; 
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}